# ==========================================================
# Unreal Engine + Empaquetage Jouable
# ==========================================================

# Visual Studio
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Compilations temporaires
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.mod
*.lai
*.la
*.a
*.lib

# Librairies dynamiques & exécutables
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.ipa

# Binary Files
Binaries/*
Plugins/**/Binaries/*

# Builds (on ignore tout sauf WindowsNoEditor)
Build/*
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Ignorer le contenu de WindowsNoEditor...
WindowsNoEditor/*

# ... mais garder les fichiers utiles de l’empaquetage
!WindowsNoEditor/**
!WindowsNoEditor/**/*.exe
!WindowsNoEditor/**/*.pak
!WindowsNoEditor/**/*.dll
!WindowsNoEditor/**/*.ini
!WindowsNoEditor/**/*.json

# Source art
SourceArt/**/*.png
SourceArt/**/*.tga

# Built data for maps
*_BuiltData.uasset

# Configs générés automatiquement
Saved/*
Intermediate/*
Plugins/**/Intermediate/*
DerivedDataCache/*
